/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento vertical */
  height: 8px; /* Altura de la barra de desplazamiento horizontal */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde para redondear las esquinas */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde para redondear las esquinas */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la barra de desplazamiento cuando se pasa el cursor sobre ella */
}

/* Estilos para la tabla */
table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase p-2 border-b border-gray-200 px-4 py-2;
}

table.basic tr td {
  @apply px-4 py-1;
}

table.basic a {
  @apply px-4 py-1 rounded-sm inline-flex mx-1 items-center gap-2 text-sm;
}

@media (max-width: 640px) {
  .w-screen {
    @apply w-full;
  }
}

.letter-span {
  display: inline-block;
  animation: fadeIn 5s forwards infinite; /* Cadena de animaciones */
}

.logo-text {
  display: inline-block;
  font-size: 2rem; /* Ajusta el tamaño según lo necesites */
  font-weight: bold;
  background-color: transparent;
  border-radius: 50%;
  transition: color 0.5s, background-color 0.5s;
  animation: fadeInText 1.5s forwards; /* Duración de la animación */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-text.completed {
  color: white;
}

/* Para asegurar que cada letra se anima secuencialmente */
.logo-text:nth-child(1) { animation-delay: 0.1s; }
.logo-text:nth-child(2) { animation-delay: 0.2s; }
.logo-text:nth-child(3) { animation-delay: 0.3s; }
.logo-text:nth-child(4) { animation-delay: 0.4s; }


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

